@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mi primera aplicacion en ASP.NET diseñada en CAPAS :D</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        
       By: Xansiety
    </div>
   
</div>